<div id="splash">
 <p id="splashwhy">
  <b>EveryoneDelivers</b> is a marketplace for delivery services. 
 </p>

 <div id="splashrow">
 <div id="splashleft">
  <h3>
    <%= link_to "Request a delivery.", "javascript:$('new_delivery').submit()" %>
  </h3>
  <% form_for Delivery.new do |f| %>
  <% end %>
  <p>
    Have items and food delivered to
    your door. You set the delivery cost.
  </p>
 </div>
 <div id="splashright">
  <h3>
    <%= link_to "List deliveries.", deliveries_path %>
  </h3>
  <p>
    Deliver items to people and earn
    the delivery bounty.
  </p>
 </div>
 </div>

 <div id="sampledelivery">
 <div>
    Example delivery listing:
 </div>
   <%= render :partial => "deliveries/single", :locals => {:delivery => @featured_delivery} %>
 </div>

  <% unless logged_in? %>
  <p id="openidprovidertable">
    <div class="openidproviderbox">
      Login with Google<br/>
      <%= link_to image_tag("google_button_150_47.png"), :controller => :session,
                                                         :action => :login,
                                                         :openid_identifier => "https://www.google.com/accounts/o8/id" %>
    </div>
    <div class="openidproviderbox" id="openidyahoo">
      Login with Yahoo<br/>
      <%= link_to image_tag("yahoo_button_150_47.png"), :controller => :session,
                                                        :action => :login,
                                                        :openid_identifier => "http://www.yahoo.com" %>
    </div>
  </p>
  <% end %>

</div>
