<% year = Time.now.year; month = Time.now.month %>
<% all_deliveries = user.accepted_deliveries %>
<% month_deliveries = user.accepted_deliveries(year,month) %>
<h3>Account</h3>
<p>
Total Accepted deliveries : <%= all_deliveries.size %>
</p>
<p>
Accepted deliveries for <%=year%>/<%=month%>: <%= month_deliveries.size %>
<p>
$0.50 per delivery x  <%= month_deliveries.size %> deliveries = $<%= 0.50 * month_deliveries.size %>
</p>
