<div id="edituser">
<h3>Edit User</h3>
<% form_for :user, @user, :url => user_path(@user.username), :html => { :method => :put } do |f| %>
  <fieldset>
   <legend>Identity</legend>
     <%= f.label :username, "username:" %>
     <%= f.text_field :username, :size => 40 %> <br/>
     <%= f.label :email, "email:" %>
     <%= @user.errors.on(:email) %>
     <%= f.text_field :email, :size => 40 %>
  </fieldset>
  <fieldset>
   <legend>Internationalization</legend>
     <%= f.label :time_zone, "time zone:" %>
     <%= @user.errors.on(:time_zone) %>
     <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :include_blank => true %>
  <br/>
     <%= f.label :units, "units:" %>
     <%= @user.errors.on(:units) %>
     <%= f.select :display_measurement, [["",""], ["Metric (grams/meters)","metric"],["Imperial (pounds/inches)","imperial"]] %>
  </fieldset>
  <br/>
  <%= f.submit %>
<% end %>
</div>
