<div id="edituser">
<h3>Edit User</h3>
<%= form_for @user do |f| %>
  <fieldset>
   <legend>Identity</legend>
     <%= f.label :username, "username:" %>
     <%= f.text_field :username, :size => 40 %> <br/>
     <%= f.label :email, "email:" %>
     <%= @user.errors[:email].join %>
     <%= f.text_field :email, :size => 40 %>
  </fieldset>
  <fieldset>
   <legend>Internationalization</legend>
     <%= f.label :time_zone, "time zone:" %>
     <%= @user.errors[:time_zone].join %>
     <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :include_blank => true %>
     <% if @user.time_zone.blank? %>
      <script>
        var now = new Date();
        var nows = now.toString();
        var dst = <%= Time.now.dst? %>
        var offset_hour = nows.substr(28,3)
        var zone = nows.substr(25,3)+offset_hour+":"+nows.substr(31,2);
        var options = $('#user_time_zone').get(0).options
        for(var i=0, len=options.length; i<len; i++) {
          var zonetext = options[i].text
          if(zone == zonetext.substr(1,9)) {
            $('#user_time_zone').val(zonetext.substr(12,40));
            break;
          }
        }
      </script>
     <% end %>
  <br/>
     <%= f.label :display_measurement, "units:" %>
     <%= @user.errors[:display_measurement].join %>
     <%= f.select :display_measurement, [["Imperial (pounds/inches)","imperial"],["Metric (grams/meters)","metric"]] %>
  </fieldset>
  <fieldset>
   <legend>Notification</legend>
     <%= f.label :email_on_new_listing, "Send an email for each new delivery listing:" %>
     <%= f.check_box :email_on_new_listing %>
  </fieldset>
  <br/>
  <%= f.submit %>
<% end %>
</div>
