<% last_schedule = current_user.schedules.last %>
<script>
  google.maps.event.addDomListener(window, 'load', function() {
    mapinitialize(<%= last_schedule ? last_schedule.latitude : "45"%>,
                  <%= last_schedule ? last_schedule.longitue : "-120"%>,
                  true
                 )
    });
</script>

<div class="clockinschedule">

  <p>
    Clock-In Schedule
  </p>

  <!-- When -->

    <%= form_tag do %>

      <!-- When -->
      <p>
        I am available to make a delivery now until <br/>
        time: <%= time_select "schedule", "stopping_at", {:ampm => true} %>
      </p>

      <!-- Where -->
      <p>
        <div class="map">
          <div id="gmap" style="width:400px;height:260px; float: right"></div>
          Drag the map marker to the nearest intersection where you will be during
          the clocked-in period. The nearest intersection is used for the privacy.<br/>
          Nearest Intersection: <span id="gmapmsg">(waiting for map)</span>
        </div>
        <input type="hidden" id="gmaplat" name="schedule[latitude]" />
        <input type="hidden" id="gmaplng" name="schedule[longitude]" />
      </p>
      
      <%= submit_tag "Clock In"%>
    <% end %>

</div>