<% content_for :title do %>
user <%= @user.username %>
<% end %>
<h3> User Profile for <%= @user.username %> </h3>
openid: <%= link_to @user.openid.url, @user.openid.url %> <br/>
username: <%= @user.username %> <br/>
time zone: <%= @user.time_zone %> <br/>
units: <%= @user.display_measurement %> <br/>

<% if logged_in? %>
<%= link_to 'edit', :controller => :users, :action => :edit, :id => @user.username %>
<% end %>

<p>
<%= @listed_deliveries.size %> listed deliveries, <%=  @listed_deliveries.count{|d| d.delivering_user }%> accepted delivery.
</p>

<p>
  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => @listed_deliveries} %>
</p>

<p>
Accepted deliveries
</p>

<p>
  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => @accepted_deliveries} %>
</p>

