openid: <%= link_to @user.openid.url, @user.openid.url %> <br/>
username: <%= @user.username %> <br/>

<% if logged_in? %>
<%= link_to 'logout', :controller => :session, :action => :logout %>
<% end %>

<p>
Listed deliveries
</p>

<p>
  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => @listed_deliveries} %>
</p>

<p>
Accepted deliveries
</p>

<p>
  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => @accepted_deliveries} %>
</p>

