<% content_for :title do %>
user <%= @user.username %>
<% end %>
<h3> 
  User Profile for <%= @user.username %> 
  <% if @user.available_for_edit_by(current_user) %>
   <%= link_to "edit", edit_user_path(@user) %>
  <% end %>
</h3>
openid: <%= link_to @user.openid.url, @user.openid.url %> <br/>
username: <%= @user.username %> <br/>
email: 
  <% if current_user == @user %> 
   <%= @user.email %> 
  <% else %>
   Hidden
  <% end %>
  <br/>
time zone: <%= @user.time_zone %> <br/>
units: <%= @user.display_measurement %> <br/>

<p>
Recorded <%= @user.sightings.size %> sightings at <%= @user.locations.size %> locations. <br/>
Listed <%= @listed_deliveries.size %> deliveries and accepted <%=  @listed_deliveries.count{|d| d.delivering_user }%> deliveries.
</p>

<p>
  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => @listed_deliveries} %>
</p>

<p>
Accepted deliveries
</p>

<p>
  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => @accepted_deliveries} %>
</p>

