<table>
  <tr>
  <td>Id</td>
  <td>Package</td>
  <td>From</td>
  <td>To</td>
  <td>Delivery Fee</td>
  <tr>
<% deliveries.each do |d| %>
  <% if d.ok_to_display? %>
  <tr>
   <td><%= d.id %></td>
   <td><%= d.package.description %></td>
   <td><%= d.start_location.street %></td>
   <td><%= d.end_location.street %></td>
   <td>$<%= d.fee.display_price %></td>
  </tr>
  <% end %>
<% end %>
</table>
