<div class="deliverytimes">
 <%= timedesc %>
</div>

<ul class="deliverylist ">
<% deliveries.each do |d| %>
  <% if d.ok_to_display? %>
  <li class="devileryitem <%= d.delivering_user ? "dark" : "light" %>" style="margin-bottom: 10px;">
   <table>
    <tr>
     <td>
      <div class="deliverypackagename">
       <span class="deliveryfee">fee $<%= d.fee.display_price %></span> <br/>
       <%= link_to truncate(d.package.description,25), delivery_path(d) %> <br/>
       Retail $<%=d.package.display_price%> <br/>
       <% if d.fee.delivery_due >= Time.now %>
         Due in <%= distance_of_time_in_words_to_now(d.fee.delivery_due) %> <br/>
       <% else %>
         Overdue by <%= distance_of_time_in_words_to_now(d.fee.delivery_due) %> <br/>
       <% end %>
       <span class="deliverylistinguser">
       listed by <%= link_to d.listing_user.username, 
              :controller => :users, :action => :show, :id => d.listing_user.username %> 
       </span>
       <br/>
       <span class="deliverydeliveringuser">
        <% if d.delivering_user %>
            delivered by: <%= link_to d.delivering_user.username, 
              :controller => :users, :action => :show, :id => d.delivering_user.username %>
        <% end %>
       </span>
      </div>
     </td>
     <td>
      <div class="googlestaticmap" >
        <div style="text-align: center">
          <% d.start_location.street.split(',',d.start_location.street.count(',')).each do |part| %>
            <%= part %> <br/>
          <% end %>
        </div>
        <div style="margin-left: auto; margin-right: auto">
        <%= image_tag d.start_location.gmap_static_html(100,100,12) %>
        </div>
        <div style="text-align: center">From</div>
      </div>
     </td>
     <td>
      <div class="googlestaticmap" >
        <div style="text-align: center">
          <% d.end_location.street.split(',',d.end_location.street.count(',')).each do |part| %>
            <%= part %> <br/>
          <% end %>
        </div>
        <%= image_tag d.end_location.gmap_static_html(100,100,12) %>
        <div style="text-align: center">To</div>
      </div>
     </td>
    </tr>
   </table>
   <div>
    <% if d.available_for_delivery_by(current_user) %>
       <% form_for :d, d, :url => accept_delivery_path(d),  :html => {:method => :put} do |f| %>
        <%= f.submit 'I can make this delivery' %>
       <% end %>
    <% end %>
   </div>
  </li>
  <% end %>
<% end %>
</ul>

<br clear="all" />
