<ul class="deliverylist ">
<% deliveries.each do |d| %>
  <% if d.ok_to_display? %>
  <li class="devileryitem <%= d.delivering_user ? "dark" : "light" %>" style="margin-bottom: 10px;">
   <table>
    <tr>
     <td colspan="3">
       <div class="deliverypackagename">
        <%= link_to truncate(d.package.description,45), delivery_path(d) %> <br/>
       </div>
     <td>
    </tr>
    <tr>
     <td valign="top">
      <div class="deliverypackageinfo">
       <span class="deliveryfee">Bounty $<%= d.fee.display_price %></span> <br/>
       Retail $<%=d.package.display_price%> <br/>
       <% if d.fee.delivery_due %>
         <% if d.fee.delivery_due >= Time.now %>
           Due in <%= distance_of_time_in_words_to_now(d.fee.delivery_due) %> <br/>
         <% else %>
           Overdue by <%= distance_of_time_in_words_to_now(d.fee.delivery_due) %> <br/>
         <% end %>
       <% else %>
         Due date missing.
       <% end %>
       <span class="deliverylistinguser">
       listed by <%= link_to d.listing_user.username, 
              :controller => :users, :action => :show, :id => d.listing_user.username %> 
       </span>
       <br/>
       <span class="deliverydeliveringuser">
        <% if d.delivering_user %>
            delivered by: <%= link_to d.delivering_user.username, 
              :controller => :users, :action => :show, :id => d.delivering_user.username %>
        <% end %>
       </span>
      </div>
     </td>
     <td>
      <div class="googlestaticmap" >
        <div>
          <% d.start_location.street_parts.each do |part| %>
            <%= part %> <br/>
          <% end %>
        </div>
        <div style="text-align: center; width: 100px">
          <%= image_tag d.start_location.gmap_static_html(100,100,14) %>
          <br/>
          <span >From</div>
        </div>
      </div>
     </td>
     <td>
      <div class="googlestaticmap" >
        <div>
          <% d.end_location.street.split(',',d.start_location.street.count(',')).each do |part| %>
            <%= part %> <br/>
          <% end %>
        </div>
        <div style="text-align: center; width: 100px">
          <%= image_tag d.end_location.gmap_static_html(100,100,14) %>
          <br/>
          <span >To</div>
        </div>
      </div>
     </td>
    </tr>
   </table>
   <div>
    <% if d.available_for_delivery_by(current_user) %>
       <% form_for :d, d, :url => accept_delivery_path(d),  :html => {:method => :put} do |f| %>
        <%= f.submit 'I can make this delivery' %>
       <% end %>
    <% end %>
   </div>
  </li>
  <% end %>
<% end %>
</ul>

<br clear="all" />
