<table id="deliverylist">
  <thead>
  <tr>
  <td>Id</td>
  <td>Package</td>
  <td>From</td>
  <td>To</td>
  <td>Delivery Fee</td>
  <td>Age</td>
  <td>Listed by</td>
  <td>Delivered by</td>
  <tr>
  </thead>
  <tbody>
<% deliveries.each do |d| %>
  <% if d.ok_to_display? %>
  <tr>
   <td><%= link_to d.id, delivery_path(d) %></td>
   <td><%= d.package.description %></td>
   <td><%= d.start_location.street %></td>
   <td><%= d.end_location.street %></td>
   <td>$<%= d.fee.display_price %></td>
   <td><%= time_ago_in_words(d.created_at) %></td>
   <td><%= link_to d.listing_user.username, 
           :controller => :users, :action => :show, :id => d.listing_user.username %></td>
   <td><% if d.delivering_user %>
         <%= link_to d.delivering_user.username, 
           :controller => :users, :action => :show, :id => d.delivering_user.username %>
       <% end %></td>
  </tr>
  <% end %>
  </tbody>
<% end %>
</table>
