  <% if delivery.ok_to_display? %>
  <div class="deliveryitem <%= delivery.delivering_user ? "dark" : "light" %>" style="margin-bottom: 10px;">
    <div class="deliverypackagename">
      <%= link_to h(truncate(delivery.package.description, :length => 45)), delivery_path(delivery) %>
    </div>

    <div class="deliverypackageinfo">
      <span class="deliveryfee">
       Bounty $<%= delivery.fee.display_price %>
      </span>
    </div>

    <div class="deliverypackagefromto" style="overflow:auto">
      <div class="halffromto">
      <%= render :partial => "deliveries/single_address_map", 
                 :locals => {:location => delivery.start_location,
                             :direction => "From"} %>
        <div>
          <% if delivery.delivering_user %>
              Delivered by: <br/>
              <%=h link_to delivery.delivering_user.username, 
                :controller => :users, :action => :show, :id => delivery.delivering_user.username %>
          <% else %>
              Requested by: <br/>
                <%=h link_to delivery.listing_user.username, 
                :controller => :users, :action => :show, :id => delivery.listing_user.username %> 
          <% end %>
        </div>
      </div>

      <div class="halffromto">
        <%= render :partial => "deliveries/single_address_map", 
                   :locals => {:location => delivery.end_location,
                               :direction => "To"} %>
        <div>
         <% if delivery.fee.delivery_due %>
           <% if delivery.fee.delivery_due >= Time.now %>
             Due in 
           <% else %>
             Overdue by 
           <% end %>
           <br/>
           <%= distance_of_time_in_words_to_now(delivery.fee.delivery_due) %> <br/>
         <% else %>
           Due date missing.
         <% end %>
        </div>
      </div>
    </div>

    <% if delivery.available_for_delivery_by(current_user) %>
    <div>
       <% form_for :delivery, delivery, :url => confirm_delivery_path(delivery), 
                                        :html => {:method => :put} do |f| %>
        <%= f.submit 'I can make this delivery' %>
       <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
