  Delivery #<%= @delivery.id %> &quot;<%= @delivery.package.description %>&quot; <br/>
  Are you sure you can make this delivery? <br/>

  <h4>Distance and Time</h4>
  From:
  <%= @delivery.start_location.street %> <br/>

  To:
  <%= @delivery.end_location.street %> <br/>

  Due at: <%= @delivery.fee.delivery_due %> (in <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>) <br/>

  <h4>Cost</h4>

  <p>
  You (<%= link_to_user(current_user) %>) pay: <br/>
  Listing acceptance fee, paid to EveryoneDelivers.com: $ <%= @delivery.display_listing_fee %> <br/>
  The in-store cost of the item, paid where item is purchased: $<%=@delivery.package.display_price%> <br/>
  Total: $<%= @delivery.display_listing_fee.to_f + @delivery.package.display_price.to_f %>
  </p>

  <p>
  You (<%= link_to_user(current_user) %>) receive from <%= link_to_user(@delivery.listing_user) %> upon delivery: <br/>
  The Bounty: $<%= @delivery.fee.display_price %> <br/>
  The cost of the item: $<%=@delivery.package.display_price%> <br/>
  Total: $<%= @delivery.display_retail_plus_package_fee %>
  </p>


  <div style="float:left; margin-right: 2em">
  <%= form_for @delivery, :url => accept_delivery_path(@delivery),  :html => {:method => :put} do |f| %>
    <%= f.submit 'Yes I accept' %>
  <% end %>
  </div>

  <div style="float:left">
  <%= form_tag delivery_path(@delivery), :method => :get do %>
    <%= submit_tag 'No Thanks' %>
  <% end %>
  </div>
