<script>
  google.maps.event.addDomListener(window, 'load', function() {
    mapinitialize(<%= @delivery.start_location.latitude %>,
                  <%= @delivery.start_location.longitude %>,
                  <%= @delivery.end_location.latitude %>,
                  <%= @delivery.end_location.longitude %>,
                  <%= "google.maps.UnitSystem."+ 
                                    (current_user.display_measurement == "imperial" ? "IMPERIAL" : "METRIC") %>
                 )
    });
</script>

<div class="deliveryconfirm">
  <h3 class="packagename">
  Delivery #<%= @delivery.id %> &quot;<%= @delivery.package.description %>&quot;
  </h3>

  Are you sure you can make this delivery? <br/>

  
  <div class="distancetime">
    <div class="map">
     <div id="gmap" style="width:300px;height:230px"></div>
     <div id="gmaperror"></div>
    </div>

    <div class="words">
      <h4>Plan</h4>


      Step 1: Travel to
      <strong> <%= @delivery.start_location.street %> </strong> <br/>

      Step 2: Acquire item, cost: $<%=@delivery.package.display_price%> <br/>

      <div>
      <div style="float:left">
      Step 3:  <br/>
      &nbsp;
      </div>
      <div>
      Travel to
      <strong><%= @delivery.end_location.street %></strong> <br/>
      Distance: <span id="travel_distance"></span> in 
         <strong> <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %> </strong> <br/>
      </div>
      </div>
      <div style="clear:left"></div>
      Step 4: Give item to <%= link_to_user(@delivery.listing_user) %> <br/>

      Step 5: Collect $<%=@delivery.package.display_price%> + $<%= @delivery.fee.display_price %> = $<%= @delivery.display_retail_plus_bounty %> paid with <%= @delivery.fee.payment_method %>
    </div>
  </div>

  
  <% if @delivery.fee.payment_method == "visa" %>
  <p>
  For VISA payments you must be signed up with <a href="http://squareup.com">squareup.com</a> and 
  have already received the VISA Card reader in the mail. Then you can process a VISA card
  at the same time you make the delivery. Accept this delivery only if you are setup
  to use Square.
  </p>
  <% end %>


  <div style="float:left; margin-right: 2em">
  <%= form_for @delivery, :url => accept_delivery_path(@delivery),  :html => {:method => :put} do |f| %>
    <%= f.submit 'Yes I accept' %>
  <% end %>
  </div>

  <div style="float:left">
  <%= form_tag delivery_path(@delivery), :method => :get do %>
    <%= submit_tag 'No Thanks' %>
  <% end %>
  </div>
</div>