  Delivery #<%= @delivery.id %> &quot;<%= @delivery.package.description %>&quot; <br/>
  Are you sure you can make this delivery? <br/>

  <h4>Distance and Time</h4>
  From:
  <%= @delivery.start_location.street %> <br/>

  To:
  <%= @delivery.end_location.street %> <br/>

  Due at: <%= @delivery.fee.delivery_due %> (in <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>) <br/>

  <h4>Cost</h4>

  <p>
  What <%= @delivery.listing_user.username %> pays: <br/>
  The Bounty, paid to the delivery person $<%= @delivery.fee.display_price %> <br/>
  The in-store cost of the item, paid to the delivery person: $<%=@delivery.package.display_price%> <br/>
  Total: $<%= @delivery.display_retail_plus_package_fee %>
  </p>

  <p>
  What (you) <%= current_user.username %> pays: <br/>
  Listing acceptance fee, paid to EveryoneDelivers.com: $ <%= @delivery.display_listing_fee %>
  The in-store cost of the item, paid to store where item is purchased: $<%=@delivery.package.display_price%> <br/>
  </p>

  <table>
  <tr>
  <td>
  <%= form_for @delivery, :url => accept_delivery_path(@delivery),  :html => {:method => :put} do |f| %>
    <%= f.submit 'Yes I accept' %>
  <% end %>
  </td>

  <td>
  <%= form_tag delivery_path(@delivery), :method => :get do %>
    <%= submit_tag 'No Thanks' %>
  <% end %>
  </td>
  </tr>
  </table>
