<%# form_for :delivery, @delivery, :url => delivery_path(@delivery), :method => "put" do |f| %>
<% form_for @delivery do |f| %>
  <p>
    Editing Delivery #<%= @delivery.id %>
  </p>
  <fieldset>
    <legend>Package</legend>
    Description <%= text_field_tag "package[description]", 
                    @delivery.package ? @delivery.package.description : "", :size => 50 %>

   <!--
    <br/>
    Dimentions in inches Height: <%= text_field_tag "package[height]", 
                                     (@delivery.package && @delivery.package.height_in_meters)? @delivery.package.height : "", 
                                     :size => 5 %>
    Width: <%= text_field_tag "package[width]", 
               (@delivery.package && @delivery.package.width_in_meters) ? @delivery.package.width : "", :size => 5 %>
    Depth: <%= text_field_tag "package[depth]", 
               (@delivery.package && @delivery.package.depth_in_meters) ? @delivery.package.depth : "", :size => 5 %>
    <br/>
    Weight in ounces <%= text_field_tag "package[weight]", 
                         (@delivery.package && @delivery.package.weight_in_grams)? @delivery.package.weight : "", :size => 5 %>
    -->
    <br/>
    If delivery person will be purchasing item from a store, give the retail price. <br/>
    Retail Price $<%= text_field_tag "package[display_price]", 
                         @delivery.package ? @delivery.package.display_price : "", :size => 5 %>
  </fieldset>
  
  <fieldset>
    <legend>From Address</legend>
    Example: 900 SW Main, Portland, Or <br/>
    <span style="float:left">
    Address <%= text_field_tag "from[address]", 
                @delivery.start_location ? @delivery.start_location.street : "",
                :size => 50, :onchange => "invalidate_from()" %>
    </span>
    <%= button_to "Validate", {}, {:onclick=>"geocoder.getLatLng($('from_address').value, geocallback_from); return false;",
                                   :style => "float: left"} %>
    <span id="from_address_msg"></span>
    <%= hidden_field_tag "from[latitude]", @delivery.start_location.latitude %>
    <%= hidden_field_tag "from[longitude]", @delivery.start_location.longitude %>
  </fieldset>

  <fieldset>
    <legend>To Address</legend>
    <span style="float:left">
    Address <%= text_field_tag "to[address]", 
                @delivery.end_location ? @delivery.end_location.street : "", 
                :size => 50, :onchange => "invalidate_to()" %>
    </span>
    <%= button_to "Validate", {}, {:onclick=>"geocoder.getLatLng($('to_address').value, geocallback_to); return false;",
                                   :style => "float: left"} %>
    <span id="to_address_msg"></span>
    <%= hidden_field_tag "to[latitude]", @delivery.end_location.latitude%>
    <%= hidden_field_tag "to[longitude]", @delivery.end_location.longitude%>
  </fieldset>
  <fieldset>
    <legend> Delivery Price </legend>
    Price $<%= text_field_tag "fee[display_price]", 
               @delivery.fee ? @delivery.fee.display_price : "0.00", :size => 2 %>
    if delivery is completed by
    <%= datetime_select("fee","delivery_due", :default => @delivery.fee ? @delivery.fee.delivery_due : Time.now) %>
<!--    if delivered within
    <%= select_tag "fee[time_count]", options_for_select({"1" => "1","2" => "2",
                                                          "3" => "3","4" => "4"}) %>
    <%= select_tag "fee[time_unit]", options_for_select({"Hour(s)" => "hour"})%>
-->
  </fieldset>
  <%= hidden_field_tag "delivery[start_end_distance]", ""%>

  <br/>
  <%= f.submit "Save Details", :onclick => "formvalidation($('edit_delivery_#{@delivery.id}'));return false;" %>
  <br/>
<% end %>
<%= button_to "Cancel Listing", delivery_path(@delivery), :confirm => "Are you sure?", :method => :delete %>

<script>
geocoder = new GClientGeocoder();
function formvalidation(form) {
  if($('from_latitude').value.length > 0) {
    if($('to_latitude').value.length > 0) {
      // Both points are verified. compute the distance
      p1 = new GLatLng($('from_latitude').value,$('from_longitude').value);
      p2 = new GLatLng($('to_latitude').value,$('to_longitude').value);
      distance = p1.distanceFrom(p2);
      $('delivery_start_end_distance').value = ""+distance;
      form.submit();
    } else {
      alert("Validate the To address");
    }
  } else {
    alert("Validate the From address");
  }
}

function invalidate_from() {
  $('from_latitude').value = "";
  $('from_address_msg').innerHTML = "Validation needed.";
}

function invalidate_to() {
  $('to_latitude').value = "";
  $('to_address_msg').innerHTML = "Validation needed.";
}

function prevalidate_from() {
  if($('from_latitude').value.length > 0) {
    $('from_address_msg').innerHTML = "Address OK. "+static_map(new GLatLng(<%= @delivery.start_location.latitude%>,<%= @delivery.start_location.longitude%>),100,100,14);
  }
}

function prevalidate_to() {
  if($('to_latitude').value.length > 0) {
    $('to_address_msg').innerHTML = "Address OK. "+static_map(new GLatLng(<%= @delivery.end_location.latitude%>,<%= @delivery.start_location.longitude%>),100,100,14);
  }
}

function geocallback_from(gLatLng) {
  if(gLatLng) {
    $('from_address_msg').innerHTML = "Address OK. "+static_map(gLatLng,100,100,14);
    $('from_latitude').value = ""+gLatLng.lat();
    $('from_longitude').value = ""+gLatLng.lng();
  } else {
    $('from_address_msg').innerHTML = "Google does not recognize this address. Please fix.";
    $('from_latitude').value = "";
    $('from_longitude').value = "";
  }
}

function geocallback_to(gLatLng) {
  if(gLatLng) {
    $('to_address_msg').innerHTML = "Address OK. "+static_map(gLatLng,100,100,14);
    $('to_latitude').value = ""+gLatLng.lat();
    $('to_longitude').value = ""+gLatLng.lng();
  } else {
    $('to_address_msg').innerHTML = "Google does not recognize this address. Please fix.";
    $('to_latitude').value = "";
    $('to_longitude').value = "";
  }
}

function static_map(gLatLng, h, w, zoom) {
  return "<img src=\"http://maps.google.com/staticmap?center="+gLatLng.lat()+","+gLatLng.lng()+"&zoom="+zoom+"&size="+h+"x"+w+"&key=<%=SETTINGS["google"]["maps"]["key"]%>&sensor=false&markers="+gLatLng.lat()+","+gLatLng.lng()+"\">";

}

prevalidate_from();
prevalidate_to();
</script>
