<h3 id="slogan">
Deliver someone's item and earn the bounty!
</h3>

<div class="clockedinbox">
  <div class="clockedinpeople">
    <p>
      Available delivery people 
    </p>
    <div style="float:left">
      <ul>
      <% @clocked_ins.each do |user| %>
        <li>
         <span>
           <%= link_to h(user.username), user %>
         </span>
         <span class="clockedintime">
         </span>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <br/>
  <% if user_signed_in? %>
    <% clockedin = current_user.clocked_in? %>
    <div style="background:<%= clockedin ? "Green" : "Blue" %>; float: left; text-align: center; margin-top: 5%">
      Clocked <br/>
      <span style="font-size: 150%"><%= clockedin ? "In" : "Out"%></span> 
      <br/>
      <% form_tag(clockedin ? clock_out_user_path(current_user) : clock_in_user_path(current_user)) do %>
        <%= submit_tag "Clock #{clockedin ? "OUT" : "IN"}" %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="listbox">
  <% @delivery_groups.each do |group| %>
    <%= render :partial => 'deliveries/list', :locals => {:timedesc => group.first, :deliveries => group.last} %>
  <% end %>
</div>

<% if user_signed_in? %>
<% else %>
  Login to create or accept a delivery.
<% end %>
