<% if @delivery.start_location && @delivery.end_location %>
<script>
  function mapinitialize() {

    var start, end, sw, ne;
    start = new google.maps.LatLng(<%= @delivery.start_location.latitude %>,<%= @delivery.start_location.longitude %>);
    end = new google.maps.LatLng(<%= @delivery.end_location.latitude %>,<%= @delivery.end_location.longitude %>);
    var bounds = new google.maps.LatLngBounds();
    bounds.extend(start);
    bounds.extend(end);

    var map = new google.maps.Map(document.getElementById("gmap"),
                                  {mapTypeId: google.maps.MapTypeId.ROADMAP,
                                   center: bounds.getCenter(),
                                   zoom: 12});
    // this could be avoided if the zoom level could be calculated
    map.fitBounds(bounds);

    var marker_start = new google.maps.Marker({position:start});
    marker_start.setMap(map);
    var marker_end = new google.maps.Marker({position:end});
    marker_end.setMap(map);
     

    var directions = new google.maps.DirectionsService();
    var request = { origin : start,
                    destination : end,
                    travelMode : google.maps.DirectionsTravelMode.DRIVING };
    directions.route(request, show_directions_callback_builder(map));
  }

  function show_directions_callback_builder(map) {
    // use a closure to make map a local variable
    return function show_directions(result, status) {
      if(status == "NOT_FOUND") {
        $('gmaperror').innerHTML = "Route not found";
      }
      if(status == "OK") {
        renderer = new google.maps.DirectionsRenderer({directions: result,
                                                       suppressMarkers : true});
        renderer.setMap(map);
      }
    }
  }

  google.maps.event.addDomListener(window, 'load', mapinitialize);
</script>
<% end %>

<div class="deliverydetail">
  <h3 class="packagename">Delivery #<%= @delivery.id %> 
   <% if @delivery.package %>
     <%=h @delivery.package.description %>
   <% end %>
   <% if @delivery.available_for_edit_by(current_user) %>
    (<%= link_to "edit", edit_delivery_path(@delivery) %>)
   <% end %>
  </h3>

<table>
<tr>
 <td valign="top">
<p>
Listed by: <%= @delivery.listing_user.username %> <br/>
Listed at: <%= @delivery.created_at %>  <br/>
Status: 
<% if @delivery.delivering_user %>
  Delivery accepted by: <%= @delivery.delivering_user.username %>
<% else %>
  <% if logged_in? %>
    <% if @delivery.available_for_delivery_by(current_user) %>
       <% form_for :delivery, @delivery, :url => confirm_delivery_path(@delivery),  :html => {:method => :put} do |f| %>
        <%= f.submit 'I can make this delivery' %>
       <% end %>
    <% else %>
       Waiting to be accepted.
    <% end %>
  <% else %>
    Login to accept this delivery.
  <% end %>
<% end %>
</p>

<h4>Package</h4>
 <% if @delivery.package %>
 <p>
   description: <%=h @delivery.package.description %>
   <br/>
   retail price: $<%= @delivery.package.display_price %>
   <br/>
   <% if @delivery.package.has_dimensions? %>
     height: <%= @delivery.package.height %>"
     width: <%= @delivery.package.width %>"
     depth: <%= @delivery.package.depth %>"
   <% else %>
     dimensions: not given
   <% end %>
 </p>
 <% else %>
  <p>
    no package has been specified
  </p>
 <% end %>

<h4>Delivery Bounty</h4>
<p>
 <% if @delivery.fee %>
  Amount: $<%= @delivery.fee.display_price %> <br/>
  Completion Due By: <%= @delivery.fee.delivery_due %>
    <% if @delivery.fee.delivery_due >= Time.now %>
    (due In: <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>)
    <% else %>
    (overdue by: <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>)
    <% end %>
  <br/>
 <% else %>
   no delivery fee has been specified
 <% end %>
</p>
  </td>

  <td valign="top">
<h4>From</h4>
<p>
 <% if @delivery.start_location %>
  Address: <%=h @delivery.start_location.street %>
 <% else %>
  no start location has been specified
 <% end %>
</p>

<h4>To</h4>
<p>
 <% if @delivery.end_location %>
  Address: <%=h @delivery.end_location.street %>
 <% else %>
  no end location has been specified
 <% end %>
</p>

<% if @delivery.start_location && @delivery.end_location %>
 <div id="gmap" style="width:400px;height:300px"></div>
 <div id="gmaperror"></div>
<% end %>
  </td>

 </tr>
</table>
</div>
