<h3>Delivery #<%= @delivery.id %> </h3>
Listed by: <%= @delivery.listing_user.username %> <br/>
Listed at: <%= @delivery.created_at %> 

<h4>Package </h4>
<% if @delivery.package %>
<p>
  description: <%= @delivery.package.description %>
  <br/>
  retail price: $<%= @delivery.package.display_price %>
  <br/>
  <% if @delivery.package.has_dimentions? %>
    height: <%= @delivery.package.height %>"
    width: <%= @delivery.package.width %>"
    depth: <%= @delivery.package.depth %>"
  <% else %>
    dimentions: not given
  <% end %>
</p>
<% else %>
<p>
  no package has been specified
</p>
<% end %>

<h4>Start Location</h4>
<% if @delivery.start_location %>
Address: <%= @delivery.start_location.street %>
<% else %>
<p>
  no start location has been specified
</p>
<% end %>


<h4>End Location</h4>
<% if @delivery.end_location %>
Address: <%= @delivery.end_location.street %>
<% else %>
<p>
  no end location has been specified
</p>
<% end %>

<h4>Delivery Fee</h4>
<% if @delivery.fee %>
Cost: $<%= @delivery.fee.display_price %> <br/>
Completion Due By: <%= @delivery.fee.delivery_due %>
    <% if @delivery.fee.delivery_due >= Time.now %>
    (due In: <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>)
    <% else %>
    (overdue by: <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>)
    <% end %>
<br/>
<% else %>
<p>
  no delivery fee has been specified
</p>
<% end %>

<br/>
<br/>
<% if @delivery.delivering_user %>
  Delivery accepted by: <%= @delivery.delivering_user.username %>
<% else %>
  <% if logged_in? %>
    <% if @delivery.available_for_delivery_by(current_user) %>
      <% form_for :delivery, @delivery, :url => accept_delivery_path(@delivery),  :html => {:method => :put} do |f| %>
        <%= f.submit 'Accept this delivery' %>
      <% end %>
    <% else %>
       Waiting to be accepted.
    <% end %>
  <% else %>
    Login to accept this delivery.
  <% end %>
<% end %>
<br/>
<% if @delivery.available_for_edit_by(current_user) %>
  <%= link_to "edit", edit_delivery_path(@delivery) %>
<% end %>
