<h3>Delivery #<%= @delivery.id %> </h3>
Listed by: <%= @delivery.listing_user.username %> <br/>
Listed at: <%= @delivery.created_at %> 

<h4>Package </h4>
<p>
description: <%= @delivery.package.description %>
<br/>
height: <%= @delivery.package.height %>"
width: <%= @delivery.package.width %>"
depth: <%= @delivery.package.depth %>"
</p>

<h4>Start Location</h4>
Address: <%= @delivery.start_location.street %>

<h4>End Location</h4>
Address: <%= @delivery.end_location.street %>

<h4>Delivery Fee</h4>
Cost: $<%= @delivery.fee.display_price %>

<br/>
<br/>
<% if @delivery.delivering_user %>
  Delivery accepted by: <%= @delivery.delivering_user.username %>
<% else %>
  <% if logged_in? %>
    <% form_for :delivery, @delivery, :url => accept_delivery_path(@delivery),  :html => {:method => :put} do |f| %>
      <%= f.submit 'Accept this delivery' %>
    <% end %>
  <% else %>
    Login to accept this delivery.
  <% end %>
<% end %>
