<% if @delivery.start_location && @delivery.end_location %>
<script>
  google.maps.event.addDomListener(window, 'load', function() {
    var map = mapinitialize(<%= @delivery.start_location.latitude %>,
                            <%= @delivery.start_location.longitude %>
                           );
    map_destination(map, <%= @delivery.end_location.latitude %>,
                    <%= @delivery.end_location.longitude %>,
                    <% if current_user %>
                      <%= "google.maps.UnitSystem."+ 
                              (current_user.display_measurement == "imperial" ? "IMPERIAL" : "METRIC") %>
                    <% else %>
                       google.maps.UnitSystem.IMPERIAL
                    <% end %>
                    );

    });
</script>
<% end %>

<div class="deliverydetail">
  
  <h3 class="packagename">
   Delivery #<%= @delivery.id %> 
   <% package = @delivery.package %>
   <% if package %>
     <%=h @delivery.package.description %>
   <% end %>
   <% if @delivery.available_for_edit_by(current_user) %>
    (<%= link_to "edit", edit_delivery_path(@delivery) %>)
   <% end %>
  </h3>

  <div class="info">
    <h4>Status</h4>
    <p>
      <% if @delivery.delivering_user %>
        Delivery accepted by: <%= link_to_user @delivery.delivering_user %>
      <% else %>
        <% if @delivery.waiting? %>
          Available for delivery.
        <% else %>
          Unfinished
        <% end %>
      <% end %>
      <br/>

      Listed by: <%= link_to_user @delivery.listing_user %>  <br/>

      Listed at: <%= @delivery.created_at.strftime("%l:%M%P %Z %d-%b-%Y") %>  <br/>
    </p>
  </div>

  <div class="info">
    <h4>Package</h4>
    <% if package %>
    <p>
     Description: &quot;<%=h @delivery.package.description %>&quot;
     <br/>
     <% if package.has_dimensions? %>
       Height: <%= @delivery.package.height %>"
       Width: <%= @delivery.package.width %>"
       Depth: <%= @delivery.package.depth %>"
     <% end %>
    </p>
    <% else %>
    <p>
      no package has been specified
    </p>
    <% end %>
  </div>

  <div class="info">
    <h4>Price and Bounty</h4>
    <p>
      <% if package %>
        Retail price: $<%= @delivery.package.display_price %> <br/>
      <% end %>
      <% if @delivery.fee %>
        Bounty: $<%= @delivery.fee.display_price %> <br/>
        Payment method: <%= @delivery.fee.payment_method %> <br/>
        <br/>
      <% else %>
        no delivery fee has been specified
      <% end %>
    </p>
  </div>

  <div style="clear:left">
  </div>

  <div class="map">
    <% if @delivery.start_location && @delivery.end_location %>
     <div id="gmap" style="width:400px;height:260px"></div>
     <div id="gmaperror"></div>
    <% end %>
  </div>

  <div class="addressparts">
  <div >
    <h4>From</h4>
    <p>
     <% if @delivery.start_location %>
      <strong><%= @delivery.start_location.name %></strong> <br/>
      <%= @delivery.start_location.street %>
     <% else %>
      no start location has been specified
     <% end %>
    </p>
  </div>

  <div>
    <h4>To</h4>
    <p>
     <% if @delivery.end_location %>
      <strong><%= @delivery.end_location.name %></strong><br/>
      <%= @delivery.end_location.street %>
     <% else %>
      no end location has been specified
     <% end %>
    </p>
  </div>

  <div >
    <% if @delivery.start_end_distance && @delivery.start_end_distance > 0 %>
    <h4>Distance</h4>
    <p>
      Travel distance: <span id="travel_distance"></span>
    </p>
    <% end %>
  </div>

  <div>
    <h4> Time </h4>
     <% if @delivery.fee %>
      Due Date: <%= @delivery.fee.delivery_due.strftime("%l:%M%P %Z %d-%b-%Y") %> <br/>
      <% if @delivery.fee.delivery_due >= Time.now %>
        Due In: <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>
      <% else %>
        Overdue by: <%= distance_of_time_in_words_to_now(@delivery.fee.delivery_due) %>
      <% end %>
     <% end %>
  </div>

  <% if @delivery.available_for_delivery_by(current_user) %>
     <%= form_for @delivery, :url => confirm_delivery_path(@delivery),  :html => {:method => :put} do |f| %>
      <%= f.submit 'I can make this delivery' %>
     <% end %>
  <% end %>

  </div>

  <div class="comments">
    Comments
    <ul>
    <% @delivery.comments.each do |comment| %>
      <li id="comment_<%= comment.id%>"> 
        <%= link_to_user comment.user %>: 
        <span title="<%=comment.created_at%>"><%= comment.text %> </span>
        <% if current_user == comment.user %>
        <%= link_to 'X', {:action => :comment_delete, :comment_id => comment.id}, 
                         :method => :delete %>
        <% end %>
      </li>
    <% end %>
    </ul>
    <% if user_signed_in? %>
     <%= form_tag({:action => :comment}, {:method => "post"}) do %>
       Add comment: <%= text_field_tag "comment[text]" %> <%= submit_tag "Post" %>
     <% end %>
    <% end %>
  </div>
</div>
