<!-- openid start -->
 <script>
</script>

<div class="header">
  <div id="sub">
  <%= form_tag({:controller => :session, :action => :login}, {:id => 'loginform'}) do %>
    <span id="geomsgaddress"></span>
    <span id="geomsgacctime"></span>
    <% if user_signed_in? %>
      <%= link_to h(current_user.username), current_user %> -
      <%= link_to 'logout', :controller => :session, :action => :logout %>
    <% else %>
      Email: <%= text_field_tag :email, nil, :placeholder => "Login with email address", :size => 25 %>
      <%= submit_tag name="Login"%>
    <% end %>
  <% end %>
  </div>
    <%= link_to image_tag('logo.png'), :root %>
</div> 

<script>
/*
if (navigator.geolocation) {  
   $('geomsgaddress').innerHTML = "looking up geolocation";
} */
</script>
