<!-- openid start -->
 <script>
  function show_openid_field() {
    Element.replace('openidlink', '<%= text_field_tag 'openid_identifier' %>');
  }
</script>

<div class="header">
  <ul>
    <li><%= link_to 'EveryoneDelivers.com', :root %></li>
  </ul>
  <span id="geomsg" />
  <span style="text-align: right">
  <% form_tag({:controller => :session, :action => :login}, {:id => 'loginform'}) do %>
    <% if logged_in? %>
      <%= link_to current_user.username, :controller => :users,
                             :action => current_user.username %>
      <%= link_to 'logout', :controller => :session, :action => :logout %>
    <% else %>
      <%= image_tag 'openid_small_logo.png' %> 
      <%= link_to 'Login with OpenID', "#" , {:id => 'openidlink', 
                                              :onclick => "show_openid_field()"} %>
    <% end %>
  <% end %>
  </span>
</div> 
