<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>EveryoneDelivers <%= yield :title %></title>
  <%= stylesheet_link_tag("application") %>
  <%= javascript_include_tag :defaults %>
  <%# javascript_include_tag 'jquery.min.js' %>
  <%= yield :header %>
</head>
<body>
  <div class="container">
    <%= render :partial => "layouts/google_maps" %>
    <%# render :partial => "layouts/geode" %>
    <%= render :partial => "layouts/header" %>
    <% unless params[:controller] == "dashboard" %>
      <%= render :partial => "layouts/menubar" %>
    <% end %>
    <%= render :partial => "layouts/flashmsg" %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>
    <%= render :partial => "layouts/google_analytics" %>
    <%= render :partial => "layouts/getsatisfaction" %>
  </div>
</body>
</html>

