<!DOCTYPE html>
<html>
<head>
  <title>EveryoneDelivers <%= yield :title %></title>
  <%= favicon_link_tag 'wheel.png' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :partial => "layouts/google_maps" %>
  <%= yield :header %>
</head>
<body>
  <div class="container">
    <%# render :partial => "layouts/geode" %>
    <%= render :partial => "layouts/header" %>
    <% unless params[:controller] == "dashboard" %>
      <%= render :partial => "layouts/menubar" %>
    <% end %>
    <%= render :partial => "layouts/flashmsg" %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>
    <%= render :partial => "layouts/google_analytics" %>
    <%= render :partial => "layouts/getsatisfaction" %>
  </div>
</body>
</html>
