<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>EveryoneDelivers <%= yield :title %></title>
  <%= stylesheet_link_tag("application") %>
  <%= javascript_include_tag :defaults %>
  <%= yield :header %>
</head>
<body>
  <div class="container">
    <%= render :partial => "layouts/geode" %>
    <%= render :partial => "layouts/header" %>
    <%= render :partial => "layouts/menubar" %>
    <%= render :partial => "layouts/flashmsg" %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>
    <%= render :partial => "layouts/google_analytics" %>
  </div>
</body>
</html>

